<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zhitian.mybole">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity
            android:name=".activity.Introduce.IntroduceActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.login.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.myactivities.MyActivitesActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".activity.merchant.MerchantFormActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity android:name=".activity.statistics.TotalStatActivity" />
        <activity android:name=".activity.statistics.DetailedStatActivity" />
        <activity android:name=".activity.shareactivity.PlanlistActivity" />
        <activity android:name=".activity.shareactivity.PublishActivity" />
        <activity android:name=".activity.Rank.RankActivity" />
        <activity android:name=".activity.code.ManualVerifyActivity" />
        <activity android:name=".activity.code.VerifyResultActivity" />
        <activity
            android:name=".ui.scanner.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity android:name=".activity.text.AboutActivity" />
        <activity android:name=".activity.text.PolicyActivity"></activity>
    </application>

</manifest>
